<h1>New Order</h1>

<h3>Currently in your cart:</h3>

<% if session[:products] %>
  <%= session[:products].each do |p| %>
    <div><%= Product.find_by_id(p)&.model %></div>
  <% end %>
<% end %>


<%= render 'form', order: @order %>

<%= link_to 'Back', orders_path %>
